* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff!important;
}

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

.registration-input-field button {
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #126CF0;
}

.navbar-expand-lg {
    width: 60%;
    margin: auto;
}

.home-page-header-img {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 32.97%, rgba(217, 217, 217, 0) 64.62%, rgba(0, 0, 0, 0) 64.62%),
    url("images/patrick-robert-doyle.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 440px;
    background-size: cover;
    position: relative;
}


.header-img-cover {
    width: 80%;
}

.header-img-cover div h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.header-img-cover div p {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

.header-img-cover div button {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.navbar-toggler-image {
    border-color: #ffffff;
}

.header-filter{
    height: 68px;
    position: absolute;
    bottom: -32px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 220px;
}
.header-filter>div {
    border: 1px solid #126CF0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-filter input{
    outline: none;
}

.last-news-position {

    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.last-news {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px;
    background: #F9F9F9;
    border-radius: 8px;
}

.list-group {
    margin-bottom: 140px;
}

.best-deals-in {
    width: 70%;
    margin: 25px auto;
}

.best-deals-in-block h1 {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #161616;
}

.best-hotel-items {
    margin-top: 15px;
}

.best-hotel-item {
    width: 25%;
}

.best-hotel-item-data h5 {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #161616;
}

.best-hotel-item-data p {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.best-hotel-item-data div {
    display: flex;
    gap: 10px;
    margin-top: 6px;
}

.best-hotel-item-data div span{
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #A6A6A6;
}

.best-hotel-item-data div p{
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #161616;
}

.view-all-hotels{
    display: flex;
    justify-content: center;
}

.view-all-hotels button{
    padding-top: 10px;
    width: 150px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.view-all-hotels p{
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.title{
    text-align: center;
    margin-top: 40px;
}

.title h1{
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #161616;
}

.title p{
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.first-best-deals{
    background-image: url("images/about-best-deals/first-best-deals.png");
    background-size: 100% 100%;
    height: 229px;
}



.second-best-deals{
    background-image: url("images/about-best-deals/second-best-deals.png");
    background-size: 100% 100%;
    height: 229px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1199px) {
    .second-best-deals{
        background-image: url("images/about-best-deals/second-best-deals.png");
        background-size: 100% 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


.second-best-deals button{
    width: 98px;
    height: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.second-best-deals div h4{
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
}

.second-best-deals div p{
    width: 65%;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}



.third-best-deals{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 32.97%, rgba(0, 0, 0, 0.4) 100%), url("images/about-best-deals/third-best-deals.png");
    border-radius: 15px;
    background-size: 100% 100%;
    height: 229px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.third-best-deals button{
    width: 135px;
    height: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.third-best-deals div h4{
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
}

.third-best-deals div p{
    width: 80%;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


.our-services .row div{
    display: flex;
}


